<div class="row">
	 <div class="col-md-4">
		<div class="panel panel-primary">
  			<div class="panel-heading"><b>Welcome {{firstName}} {{lastName}}</b></div>
  			<div class="panel-body" style="height: 200;">
    			<div class="container">
            		<li><a href="#"> Change Password</a></li>
            		<li><a href="#"> Edit Profile</a></li> 

        		</div>
  			</div>
		</div>
     </div>
     
     
     <div class="col-md-4">
		<div class="panel panel-primary">
  			<div class="panel-heading"><b>App Users</b></div>
  			<div class="panel-body" style="height: 200;">
    			<div class="container">
            		<p> Total number of App users    40
            		<p> Users subscrption going to expire by EOD 5
            		<p> <li><a href="#tanentList">App Users List</a></li>
           	</div>
  			</div>
		</div>
     </div>
     
      <div class="col-md-4">
		<div class="panel panel-primary">
  			<div class="panel-heading"><b>App Account Management</b></div>
  			<div class="panel-body" style="height: 200;">
    			<div class="container">
    			  <ul>
    			    <p> <li><a href="#">Create App Account</a></li>
            		<p> <li><a href="#">Renew subscription</a></li>
            		<p> <li><a href="#">Enable/Disable Account</a></li>
            		<p> <li><a href="#">Send Notification</a></li>
            	  </ul>

            		<br/>
            		<br/>
            		<br/>

        		</div>
  			</div>
		</div>
     </div>
     
</div>

